{% apply inline_css %}
    {% block doctype %}
        {% include('@FlagstoneMailing/email/blocks/doctype.html.twig') %}
    {% endblock %}
    <html {% block html_head %}{% include '@FlagstoneMailing/email/blocks/html_head.html.twig' %}{% endblock %}>
    <head>
        {% block head %}
            {% include('@FlagstoneMailing/email/blocks/head.html.twig') %}
        {% endblock %}
        {% block style %}
        {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
    </html>
{% endapply %}